.idea
.cache
/data/FB15K-237
/data/FIGER
/data/Quasar-T
/data/SearchQA
/data/*/cached_train*
/data/*/cached_test*
/data/*/cached_dev*
/pretrained_models
/proc_data
/pytorch_transformers/__pycache__
__pycache__
/proc
